<html>
<head>
{% if prev_image %}
<link href="{{prev_image.page_path}}" rel="previous"/>
{% endif %}
{% if next_image %}
<link href="{{next_image.page_path}}" rel="next"/>
{% endif %}
<link href="./" rel="index"/>
</head>
<body>
<h2>{{meta.title}}</h2>
<div><a href="{{image_path}}"><img src="{{thumb_path}}"></a>
<p><small>Click image to view larger</small></div>
<div><a href="{{image_path}}" download>Download Full Size</a></div>
<h3>EXIF</h3>
<dl>
{% for tag in exif.keys() %}
{% if exif[tag].__class__.__name__ == 'XmpTag' %}
<dt><abbr title="{{exif[tag].key}}">
{% if exif[tag].title|length %}
  {{exif[tag].title}}</abbr></dt>
{% else %}
  {{exif[tag].key}}
{% endif %}
<dd>{{exif[tag].raw_value}}</dd>
{% elif exif[tag].__class__.__name__ == 'ExifTag' %}
<dt><abbr title="{{exif[tag].key}}">{{exif[tag].label}}</abbr></dt>
<dd>{{exif[tag].human_value}}</dd>
{% endif %}
{% endfor %}
</dl>
<hr>

<div><a href="./">Index</a></div>
{% if prev_image %}
<div><a href="{{prev_image.page_path}}">Prev</a>
{% endif %}
{% if next_image %}
<div><a href="{{next_image.page_path}}">Next</a>
{% endif %}
</body>
</html>
